.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.color{
    color: #fff;
    background: purple;
}